nav {
  display: flex;
  justify-content: space-around;
  top: 20px;
  width: 100%;
  background: linear-gradient(to right, #00bcd4, #0097a7);
}

.logo {
  display: flex;
}

.planet {
  width: 70px;
  padding: 10px;
  margin-bottom: 15px;
}

.header {
  color: #fff;
  font-family: 'Crete Round', sans-serif;
  font-size: 22px;
  margin-top: 23px;
  padding-left: 12px;
  font-weight: bold;
}

.navLinks {
  padding-left: 400px;
  margin-top: -50px;
}

.navLinks li {
  cursor: pointer;
  color: #fff;
  margin-left: 100px;
  flex: 2;
  display: inherit;
}

.navLinks li:hover {
  color: blue;
}

.navStyle {
  text-decoration: none;
  color: aliceblue;
}

.navStyle:hover {
  color: blue;
}
